{% extends 'base.html' %}
{% block content %}
<main id="main" role="main">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<!-- main-gallery of the page -->
								<section class="main-banner post">
									<div class="parallax-holder add-banner">
										<div class="parallax-frame"><img src="{{blog.img2.url}}" height="1420" width="2000" alt="Image Description"></div>
									</div>
									<div class="post-over">
										<div class="box">
											<div class="block">
												<h1><a href="#">{{blog.title}}</a></h1>
												<ul class="add-nav list-inline">
													<li>by <a href="#">{{blog.user}}</a></li>
													<li><time datetime="2015-01-01">{{blog.timestamp}}</time></li>
													<li><a href="#"></a></li>
												</ul>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
				<!-- post-info of the page -->
				<section class="post-info">
					<div class="progress-bar-holder">
						<div class="progressbar">&nbsp;</div>
						<span class="progress-info">&nbsp;</span>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<article class="main-post">
									<!-- post-images of the page -->
									<div class="post-images">
										<div class="alignleft">
											<div class="img-box">
												<a href="#"><img src="http://placehold.it/395x260" alt="image description"></a>
											</div>
											<div class="img-box">
												<a href="#"><img src="http://placehold.it/395x260" alt="image description"></a>
											</div>
										</div>
										<div class="img-box2">
											<a href="#"><img src="http://placehold.it/770x525" alt="image description"></a>
										</div>
									</div>
									<h2>CREATIVE TITLE COULD BE PUT HERE</h2>
									{{blog.description|linebreaks}}
								</article>
								<div class="postbox-prev">
									<a href="#" class="post-prev"><i class="fa fa-angle-left"></i></a>
									<span class="post-txt">VIDEO POST</span>
								</div>
								<div class="postbox-next">
									<a href="#" class="post-next"><i class="fa fa-angle-right"></i></a>
									<span class="post-txt">AUDIO POST</span>
								</div>
							</div>
						</div>
					</div>
				</section>
				<div class="container-fluid">
					<div class="row">
						<!-- fullwidth-post of the page -->
						<div class="col-xs-12 fullwidth-post add">
							<div class="row">
								<!-- main-gallery of the page -->
								<div class="banner-gallery parallax-holder">
									<div class="parallax-frame"><img src="{{blog.img3.url}}" height="1333" width="2000" alt="Image Description"></div>
									<div class="post-over">
										<div class="box">
											<div class="block">
												<h2><a href="#">FULLWIDTH IMAGE</a></h2>
												<p>Optional subtitle. Both caption and subtitle can be turned off</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- related-posts of the page -->
				<div class="container related-posts">
					<div class="row">
						<div class="col-xs-12">
							<!-- post-buttons of the page -->
							<div class="post-buttons">
								<a class="prev-post" href="#"><i class="fa fa-long-arrow-left"></i> PREVIOUS POST</a>
								<a class="next-post" href="#">NEXT POST <i class="fa fa-long-arrow-right"></i></a>
								<!-- social-networks of the page -->
								<ul class="social-networks list-inline">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
								</ul>
							</div>
							<!-- related-articles of the page -->
							<div class="related-articles">
								<h2><span class="txt"><a href="#">RELATED ARTICLES</a></span></h2>
								<!-- carousel of the page -->
								<div class="carousel">
									<div class="mask">
										<div class="slideset">
											<div class="slide">
												<div class="banner-gallery">
													<div class="bg-stretch"><img src="http://placehold.it/371x270" alt="image description"/></div>
													<div class="post-over">
														<div class="box">
															<div class="block">
																<blockquote class="post-quotes">
																	<p><a href="#">&ldquo;QUOTES ARE AMAZING&rdquo;</a></p>
																	<footer><cite title="Source Title">John Doe</cite></footer>
																</blockquote>
																<ul class="add-nav list-inline">
																	<li><time datetime="2015-01-01">Aug 28, 2015</time></li>
																	<li>QUOTE</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="slide">
												<div class="banner-gallery">
													<div class="bg-stretch"><img src="http://placehold.it/371x270" alt="image description"/></div>
													<div class="post-over">
														<div class="box">
															<div class="block">
																<h3><a href="#">LINK POST</a></h3>
																<ul class="add-nav list-inline">
																	<li>by <a href="#">Admin</a></li>
																	<li><time datetime="2015-01-01">Aug 28, 2015</time></li>
																	<li><a href="#">TRAVELING</a></li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="slide">
												<div class="banner-gallery">
													<div class="bg-stretch"><img src="http://placehold.it/371x270" alt="image description"/></div>
													<div class="post-over">
														<div class="box">
															<div class="block">
																<h3><a href="#">DEFAULT POST</a></h3>
																<ul class="add-nav list-inline">
																	<li>by <a href="#">Admin</a></li>
																	<li><time datetime="2015-01-01">Aug 28, 2015</time></li>
																	<li><a href="#">TRAVELING</a></li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="slide">
												<div class="banner-gallery">
													<div class="bg-stretch"><img src="http://placehold.it/371x270" alt="image description"/></div>
													<div class="post-over">
														<div class="box">
															<div class="block">
																<blockquote class="post-quotes">
																	<p><a href="#">&ldquo;QUOTES ARE AMAZING&rdquo;</a></p>
																	<footer><cite title="Source Title">John Doe</cite></footer>
																</blockquote>
																<ul class="add-nav list-inline">
																	<li><time datetime="2015-01-01">Aug 28, 2015</time></li>
																	<li>QUOTE</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="slide">
												<div class="banner-gallery">
													<div class="bg-stretch"><img src="http://placehold.it/371x270" alt="image description"/></div>
													<div class="post-over">
														<div class="box">
															<div class="block">
																<h3><a href="#">LINK POST</a></h3>
																<ul class="add-nav list-inline">
																	<li>by <a href="#">Admin</a></li>
																	<li><time datetime="2015-01-01">Aug 28, 2015</time></li>
																	<li><a href="#">TRAVELING</a></li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="slide">
												<div class="banner-gallery">
													<div class="bg-stretch"><img src="http://placehold.it/371x270" alt="image description"/></div>
													<div class="post-over">
														<div class="box">
															<div class="block">
																<h3><a href="#">DEFAULT POST</a></h3>
																<ul class="add-nav list-inline">
																	<li>by <a href="#">Admin</a></li>
																	<li><time datetime="2015-01-01">Aug 28, 2015</time></li>
																	<li><a href="#">TRAVELING</a></li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<a class="btn-prev2" href="#"><i class="fa fa-angle-left"></i></a>
									<a class="btn-next2" href="#"><i class="fa fa-angle-right"></i></a>
								</div>
							</div>
							<!-- comments-block of the page -->
							<div class="comments-block">
								<!-- comments-heading of the page -->
								<header class="commnents-heading">
									<h2><span class="txt">COMMENTS</span></h2>
									<a href="#" class="threecomments"><span class="num">3</span> comments</a>
								</header>
								<!-- comments-holder of the page -->
								<div class="comments-holder">
									<!-- comments-box of the page -->
									<div class="comments-box">
										<a href="#" class="alignleft">
											<img src="http://placehold.it/101x103" alt="image description">
										</a>
										<div class="txt-block">
											<div class="box">
												<h3><a href="#">Easton Maxwell</a></h3>
												<ul class="comment-nav list-inline">
													<li><time datetime="2015-01-01"><i class="fa fa-clock-o"></i> March 26, 2014 at 12:00am</time></li>
													<li><a href="#">Reply</a></li>
												</ul>
											</div>
											<p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
										</div>
									</div>
									<!-- comments-box of the page -->
									<div class="comments-box">
										<a href="#" class="alignleft">
											<img src="http://placehold.it/102x102" alt="image description">
										</a>
										<div class="txt-block">
											<div class="box">
												<h3><a href="#">Rodolph Braxton</a></h3>
												<ul class="comment-nav list-inline">
													<li><time datetime="2015-01-01"><i class="fa fa-clock-o"></i> March 26, 2014 at 12:00am</time></li>
													<li><a href="#">Reply</a></li>
												</ul>
											</div>
											<p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
										</div>
									</div>
									<!-- onelevel of the page -->
									<div class="onelevel">
										<!-- comments-box of the page -->
										<div class="comments-box">
											<a href="#" class="mail-reply"><i class="fa fa-share"></i></a>
											<a href="#" class="alignleft">
												<img src="http://placehold.it/102x103" alt="image description">
											</a>
											<div class="txt-block">
												<div class="box">
													<h3><a href="#">Ken Oz</a></h3>
													<ul class="comment-nav list-inline">
														<li><time datetime="2015-01-01"><i class="fa fa-clock-o"></i> March 26, 2014 at 12:00am</time></li>
														<li><a href="#">Reply</a></li>
													</ul>
												</div>
												<p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
											</div>
										</div>
										<!-- twolevel of the page -->
										<div class="twolevel">
											<!-- comments-box of the page -->
											<div class="comments-box">
												<a href="#" class="mail-reply"><i class="fa fa-share"></i></a>
												<a href="#" class="alignleft">
													<img src="http://placehold.it/102x102" alt="image description">
												</a>
												<div class="txt-block">
													<div class="box">
														<h3><a href="#">Odell Matthew</a></h3>
														<ul class="comment-nav list-inline">
															<li><time datetime="2015-01-01"><i class="fa fa-clock-o"></i> March 26, 2014 at 12:00am</time></li>
															<li><a href="#">Reply</a></li>
														</ul>
													</div>
													<p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- form-area of the page -->
								<div class="form-area">
									<h2>LEAVE A COMMENT</h2>
									<!-- comment-form of the page -->
									<form action="#" class="comment-form validate-form">
										<fieldset>
											<div class="form-group">
												<div class="form-col input-holder">
													<input type="text" class="form-control required" placeholder="Your Name *">
												</div>
												<div class="form-col input-holder">
													<input type="email" class="form-control required-email" placeholder="Your Email*">
												</div>
												<div class="form-col input-holder">
													<input type="text" class="form-control required" placeholder="Subject">
												</div>
											</div>
											<div class="form-group">
												<textarea cols="30" rows="10" class="form-control textarea" placeholder="Comment"></textarea>
											</div>
											<button type="submit" class="btn btn-primary">Submit</button>
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
{% endblock %}